# Exercises 11.1, 11.2, and 16.8
This notebook contains the solutions for the following tasks:
- **11.1**: Create a module and use it interactively.
- **11.2**: Import the module using an alias.
- **16.8**: Use SQLAlchemy to query data from a database.

## Exercise 11.1
Create a file called `zoo.py` with a function `hours()` that prints `Open 9-5 daily`. Import and call the function in the interactive interpreter.

In [ ]:
# Solution for 11.1

# Create the zoo.py file
with open('zoo.py', 'w') as f:
    f.write("""
def hours():
    print('Open 9-5 daily')
    """)

# Verify that the file was created
print("zoo.py created successfully.")

## Exercise 11.2
Import the `zoo` module as `menagerie` in the interactive interpreter and call the `hours()` function.

In [ ]:
# Solution for 11.2

# Import the zoo module and call the function
import zoo as menagerie
menagerie.hours()

In [ ]:
# Create books.db and populate the book table (for 16.8)

import sqlite3

# Connect to (or create) the books.db database
connection = sqlite3.connect('books.db')
cursor = connection.cursor()

# Drop the table if it exists
cursor.execute('DROP TABLE IF EXISTS book')

# Create the book table
cursor.execute('''
CREATE TABLE book (
    id INTEGER PRIMARY KEY,
    title TEXT NOT NULL,
    author TEXT NOT NULL,
    year INTEGER NOT NULL
)
''')

# Insert sample data into the book table
books = [
    (1, 'Pride and Prejudice', 'Jane Austen', 1813),
    (2, 'To Kill a Mockingbird', 'Harper Lee', 1960),
    (3, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925),
    (4, '1984', 'George Orwell', 1949),
    (5, 'Moby-Dick', 'Herman Melville', 1851)
]
cursor.executemany('INSERT INTO book VALUES (?, ?, ?, ?)', books)

# Commit and close the connection
connection.commit()
connection.close()

print("books.db created and populated successfully.")

In [ ]:
# Solution for 16.8

from sqlalchemy import create_engine, MetaData, Table, select

# Connect to the books.db SQLite database
engine = create_engine('sqlite:///books.db')
connection = engine.connect()

# Reflect the database and locate the 'book' table
metadata = MetaData()
book_table = Table('book', metadata, autoload_with=engine)

# Query to select and print the title column in alphabetical order
query = select(book_table.c.title).order_by(book_table.c.title)
result = connection.execute(query)

# Print the results
print("Book Titles in Alphabetical Order:")
for row in result:
    print(row.title)